body {
  font-family: sans-serif;
  margin: 0;
}

#control {
  background: #804;
  color: white;
  padding: 6pt;
  width: 100%;
  top: 0px;
}

div#food {
  margin: 6pt;
}

h2 {
  margin: 4pt;
  font-size: 14pt;
  font-weight: lighter;
  color: #804;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td {
  border-top: 1pt solid #804;
  border-bottom: 1pt solid #804;
  padding: 3pt;
  font-size: 11pt;
}

td.stars-uneaten {
  width: 3em;
  text-align: right;
}

td.stars-eaten {
  width: 3em;
  text-align: right;
}

td.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.notes {
  width: 3em;
}
